.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 6rem [sidebar-end margin-left-start] minmax(6rem, 1fr)
    [margin-left-end] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [margin-right-start] minmax(6rem, 1fr) [margin-right-end];
}
