.features {
  grid-row: 2 / 3;
  grid-column: col-start 1 / col-end 8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 10rem;

  margin: 5rem 0;
}
